.mm-keyboard-container {
  color: white;
  height: 18.875em;
  width: 34em;
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: -webkit-gradient(
      linear,
      right bottom,
      left top,
      color-stop(0%, rgba(0, 0, 0, 0.3)),
      color-stop(100%, rgba(0, 0, 0, 0))
    ),
    url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png');
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}
.mm-keyboard-container mm-key:first-child > div {
  border-radius: 5px 0 5px 5px;
}
.mm-keyboard-container mm-key:last-child > div {
  border-radius: 0 5px 5px 5px;
}

.mm-keyboard-container .controller {
  position: absolute;
  top: 0;
}
